/* Theme Name: PogoApp - Responsive Landing Page Template
   Author: Themesdesign
   Version: 1.0.0
   Created: October 2017
   File Description: Main CSS file of the template
*/

/****************************
*   1  :  HELPER            *
*   2  :  NAVBAR-CUSTOM     *
*   3  :  FULLPAGES         *
*   4  :  HOME              *
*   5  :  FEATURES          *
*   6  :  SERVICES          *
*   7  :  VIDEO             *
*   8  :  SCREENSHOT        *
*   9  :  PRICING           *
*   10 :  TESTIMONIAL       *
*   11 :  DOWNLOAD          *
*   12 :  FAQ               *
*   13 :  CONTACT US        *
*   14 :  RESPONSIVE        *
*****************************/

body {
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
}

.btn,
.btn:focus,
button,
button:focus {
    outline: none !important;
}

a {
    text-decoration: none !important;
    outline: none;
}


/*****************
    1.HELPER
*****************/

.section {
    padding-bottom: 0px !important;
    position: relative;
}

.height-100 {
    height: 100vh;
    position: relative;
}

.title h2 {
    text-transform: capitalize;
}

.title-box,
.title-line {
    position: relative;
}

.title-box:after {
    position: absolute;
    top: -6px;
    left: 51%;
    border: 2px solid #fff;
    height: 14px;
    width: 14px;
    content: "";
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-left: -11px;
}

.title-box:before {
    position: absolute;
    top: -6px;
    left: 50%;
    border: 2px solid #fff;
    height: 14px;
    width: 14px;
    content: "";
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-left: 1px;
}

.title-line:before {
    position: absolute;
    top: 0px;
    left: 42%;
    content: "";
    background: #fff;
    height: 2px;
    width: 7%;
}

.title-line:after {
    position: absolute;
    top: 0px;
    right: 40%;
    content: "";
    background: #fff;
    height: 2px;
    width: 7%;
}



.btn {
    padding: 14px 24px;
    font-size: 15px;
    font-weight: 600;
    transition: all 0.5s;
    letter-spacing: 0.6px;
    color: #fff;
    box-shadow: none !important;
    outline: none !important;
}

.btn-round {
    border-radius: 30px;
}

.vertical-content {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    flex-direction: row;
    -webkit-flex-direction: row;
}

.home-center {
    display: table;
    width: 100%;
    height: 100%;
}

.home-desc-center {
    display: table-cell;
    vertical-align: middle;
}

.btn-outline-custom {
    border: 2px solid #fff;
    border-color: #fff;
    background: linear-gradient(to right, #fff, #fff) no-repeat;
    background-size: 0% 100%;
}

.btn-outline-custom:hover,
.btn-outline-custom:focus,
.btn-outline-custom:active,
.btn-outline-custom.active,
.btn-outline-custom.focus,
.btn-outline-custom:active,
.btn-outline-custom:focus,
.btn-outline-custom:hover,
.open > .dropdown-toggle.btn-custom {
    color: #000;
    background-size: 100% 100%;
}

.btn-custom{
    border:2px solid;
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active,
.btn-custom.focus,
.btn-custom:active,
.btn-custom:focus,
.btn-custom:hover,
.open > .dropdown-toggle.btn-custom {
    color: #f3f3f3;
    background-size: 100% 100%;
}

.bg-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
}


/******************
    2.NAVBAR-CUSTOM
*******************/

.navbar-custom {
    position: absolute;
    z-index: 9998;
    width: 100%;
    height: auto;
    min-height: 0;
    border: 0;
    margin-bottom: 0;
    padding: 25px 0px;
    -webkit-backface-visibility: hidden;
    transition: all 0.5s ease-in-out;
}

.navbar-custom-header {
    width: 100%;
}

.nav-position {
    position: relative;
}


/* Logo */

.navbar-custom .logo {
    position: relative;
    float: left;
    padding-top: 0;
    padding-bottom: 0;
    color: #fff;
    font-size: 20px;
    line-height: 23px;
    font-weight: 700;
}


/* Menu button open */

.menu-btn-open {
    position: absolute;
    right: 0px;
    display: block;
    width: 24px;
    height: 16px;
    line-height: 1px;
    margin: 4px 0 0 0;
    color: #fff !important;
}

.menu-btn-open span {
    display: block;
    position: absolute;
    width: 100%;
    height: 0px;
    color: inherit;
    border: 1px solid;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    transition: all 0.6s;
}

.menu-btn-open .line1 {
    top: 0;
}

.menu-btn-open .line2 {
    top: 7px;
}

.menu-btn-open .line3 {
    bottom: 0;
}


/* Menu button close */

.menu-btn-close {
    position: absolute;
    right: 0px;
    display: block;
    width: 24px;
    height: 24px;
    margin: 4px 0 0 0;
    top: 23px;
    color: #fff !important;
}

.menu-btn-close span {
    display: block;
    position: absolute;
    width: 100%;
    height: 0px;
    top: 40%;
    color: inherit;
    border: 1px solid;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    transition: all 0.6s;
}

.menu-btn-close .line1 {
    transform: translateY(-6px);
}

.menu-btn-close .line2 {
    transform: translateY(6px);
}

.menu-btn-close.loaded .line1 {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}

.menu-btn-close.loaded .line2 {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
}


/* Menu lightbox */

.menu-lightbox {
    position: fixed;
    top: 0%;
    right: 0;
    left: 0%;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 9998;
    color: #fff;
    display: none;
}

.menu-lightbox .menu-nav {
    width: 100%;
    margin: 0 auto;
    padding: 0px;
    list-style: none;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
}

.menu-lightbox .menu-nav li {
    padding: 0 0 0px 0;
    margin: 0 0 21px 0;
    overflow: hidden;
    text-align: center;
}

.menu-lightbox .menu-nav li a {
    color: #fff;
    font-weight: 800;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    position: relative;
    display: inline-block;
    padding-right: 30px;
    opacity: 0;
    transform: translate(0, 30px);
    -webkit-transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}

.menu-lightbox.active .menu-nav li a {
    opacity: 1;
    transform: translate(0, 0px);
}


/******************
    3.FullPages
*******************/

#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span {
    background: #fff !important;
}

#fp-nav ul li .fp-tooltip.right {
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1px !important;
    top: -5px;
    right: 40px !important;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    background: #fff;
}


/******************
    4.HOME
******************/

.bg-home {
    background-image: url("../images/bg-home.jpg");
    background-size: cover;
    position: relative;
    background-position: center center;
}

.home-title {
    font-size: 40px;
    text-transform: capitalize;
    max-width: 695px;
    line-height: 1.4;
    font-weight: 300;
}

.home-subtitle {
    max-width: 600px;
    color: #dadadc;
    opacity: 0.6;
    font-size: 17px;
    line-height: 30px;
}

.social-icons li a {
    font-size: 18px;
    color: #ffffff;
    padding-right: 20px;
}


/*----DEMO 2----*/

.bg-home-gradient {
    background: #1488CC;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2B32B2, #1488CC);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-services-gradient {
    background: #00F260;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0575E6, #00F260);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0575E6, #00F260);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-features-gradient {
    background: #e53935;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #e35d5b, #e53935);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #e35d5b, #e53935);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-video-gradient {
    background: #004FF9;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFF94C, #004FF9);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFF94C, #004FF9);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-screenshot-gradient {
    background: #ec008c;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fc6767, #ec008c);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fc6767, #ec008c);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-pricing-gradient {
    background: #6441A5;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2a0845, #6441A5);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2a0845, #6441A5);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-client-gradient {
    background: #0B486B;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F56217, #0B486B);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F56217, #0B486B);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-download-gradient {
    background: #536976;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #292E49, #536976);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #292E49, #536976); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.bg-faq-gradient {
    background: #7F00FF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #E100FF, #7F00FF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #E100FF, #7F00FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-contact-gradient {
    background: #667db6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


/*----DEMO 3----*/

.bg-home-color {
    background-color: #1f6eab;
}

.bg-services-color {
    background-color: #10c469;
}

.bg-features-color {
    background-color: #35b8e0;
}

.bg-video-color {
    background-color: #f9c851;
}

.bg-screenshot-color {
    background-color: #ff5b5b;
}

.bg-pricing-color {
    background-color: #3b3e47;
}

.bg-client-color {
    background-color: #5b69bc;
}

.bg-download-color {
    background-color: #884c6e;
}

.bg-faq-color {
    background-color: #aa71f9;
}

.bg-contact-color {
    background-color: #188ae2;
}


/******************
    5.Features
*******************/

.bg-features {
    background-image: url('../images/bg-features.jpg');
    background-size: cover;
    position: relative;
    background-position: center center;
}

.features-box .features-icon {
    font-size: 40px;
    color: #fff;
}

.features-box {
    margin-top: 20px;
    text-align: center;
    padding: 15px;
}

.features-box .features-content {
    margin-top: 15px;
}

.features-box .features-content h5 {
    font-size: 20px;
    font-weight: 400;
}

.features-box .features-content p {
    font-size: 15px;
    line-height: 24px;
    margin-top: 12px;
    letter-spacing: 0.6px;
}


/******************
    6.Services
*******************/

.bg-services {
    background-image: url('../images/bg-services.jpg');
    background-size: cover;
    position: relative;
    background-position: center center;
}

.services-icon span {
    font-size: 32px;
    border: 2px solid #fff;
    height: 75px;
    display: inline-block;
    width: 75px;
    border-radius: 50%;
    color: #fff;
    line-height: 73px;
    margin-bottom: 10px;
}

.services-desc h4 {
    font-size: 20px;
}

.services-desc p {
    font-size: 15px;
}


/******************
    7.Video
*******************/

.bg-video {
    background-image: url('../images/bg-video.jpg');
    background-size: cover;
    position: relative;
    background-position: center center;
}

.video-play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -40px;
    margin-top: -40px;
}

.video-play-icon {
    outline: none !important;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    z-index: 4;
    display: inline-block;
    cursor: pointer;
    background: #fff;
    text-align: center;
    font-size: 38px;
    line-height: 78px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}


/******************
    8.Screenshot
*******************/

.bg-screenshot {
    background-image: url('../images/bg-screenshot.jpg');
    background-size: cover;
    position: relative;
    height: 100vh;
    background-position: center center;
}

#screenshots {
    margin: 0;
    width: 100%;
}

.owl-controls {
    margin-top: 50px !important;
}

.screenshot-item {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 290px;
    overflow: hidden;
    position: relative;
}

.owl-screenshot {
    padding-top: 40px;
}

.screenshot-content {
    width: 100%;
    position: relative;
    background-color: #ffffff;
}

.screenshot-content img {
    width: 100%;
}

.screenshot-overlayer {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 100%;
    text-align: center;
    position: absolute;
    background-color: transparent;
}

.screenshot-overlayer a {
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
}

.owl-theme .owl-controls .owl-page span {
    display: block;
    width: 4px;
    height: 12px;
    margin: 5px 4px;
    filter: Alpha(Opacity=50);
    opacity: 0.5;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    transition: all 0.5s;
    background: #fff;
}

.owl-theme .owl-controls .owl-page.active span {
    height: 18px;
}


/******************
    9.Pricing
*******************/

.bg-pricing {
    background-image: url('../images/bg-pricing.jpg');
    background-size: cover;
    position: relative;
    height: 100vh;
    background-position: center center;
}

.bg-price {
    background-color: rgba(255, 255, 255, 0.12);
    padding: 35px 20px;
}

.price-active {
    position: relative;
    overflow: hidden;
}

.plan-price sub {
    font-size: 17px;
    bottom: -0.0em;
}

.plan-price sup {
    font-size: 20px;
    top: -0.8em;
}

.lable {
    background: #40556E none repeat scroll 0 0;
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    right: -26px;
    padding: 2px 25px;
    position: absolute;
    text-transform: uppercase;
    top: 20px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
}


/******************
    10.Testimonial
*******************/

.bg-client {
    background-image: url('../images/bg-client.jpg');
    background-size: cover;
    position: relative;
    height: 100vh;
    background-position: center center;
}

#owl-demo .owl-item div {
    padding: 5px;
}

#owl-demo .owl-item img {
    width: 100%;
    height: auto;
}

.testi-user {
    width: 85px !important;
    margin-right: 15px;
    color: #A2A2A2;
    margin-top: 20px;
}

.user-review {
    font-size: 16px;
    line-height: 30px;
    font-style: italic;
    font-weight: 300;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.testi-user-name {
    font-size: 16px;
}

.review-box {
    padding: 20px;
}


/******************
    11.Download
*******************/

.bg-download {
    background-image: url('../images/bg-download.jpg');
    background-size: cover;
    position: relative;
    height: 100vh;
    background-position: center center;
}


/******************
    12.Faq
*******************/

.bg-faq {
    background-image: url('../images/bg-faq.jpg');
    background-size: cover;
    position: relative;
    height: 100vh;
    background-position: center center;
}

.faq {
    position: relative;
}

.faq-title {
    font-size: 16px;
    color: #fff;
}

.faq-sub-title {
    font-size: 14px;
    line-height: 22px;
    color: #fff;
}

.service-icon {
    float: left;
}

.service-icon {
    font-size: 40px;
    position: absolute;
    color: #fff;
    top: 45%;
    transform: translateY(-50%);
}

.faq-ans {
    margin-left: 10%;
}


/******************
    13.Contact us
*******************/

.bg-contact {
    background-image: url('../images/bg-contact.jpg');
    background-size: cover;
    position: relative;
    height: 100vh;
    background-position: center center;
}

.form-custom .form-control {
    height: 50px;
    border-color: #cecece;
    background-color: transparent;
    border-radius: 0px;
    color: #fff;
}

.form-custom .form-control:focus {
    box-shadow: none;
}

.form-custom .form-group {
    margin-top: 20px;
    font-size: 14px;
}

.form-custom textarea.form-control {
    height: auto;
}


/*********************
    14.Responsive
**********************/

@media (min-width: 200px) and (max-width: 767px) {
    .bg-home {
        height: auto;
        padding: 120px 0;
    }
    .navbar-custom {
        margin-top: 0px;
        padding: 15px 0px !important;
        background-color: #000;
    }
    .nav-position {
        width: 85%;
    }
    .vertical-content {
        display: inherit;
    }
    .home-title {
        font-size: 32px;
    }
    .home-subtitle {
        line-height: 26px;
    }
    .faq-ans {
        margin-left: 15%;
    }
    .menu-btn-close {
        top: 15px;
    }
    .menu-lightbox .menu-nav li {
        margin: 0 0 8px 0;
    }
    .menu-lightbox .menu-nav li a {
        font-size: 12px;
    }
}

@media (max-width: 1024px) {
    .section {
        padding-bottom: 60px !important;
        padding-top: 60px !important;
    }
    .home-video.section {
        padding-bottom: 0px !important;
        padding-top: 0px !important;
    }
}